# build
build/
build-release/

# cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# binarios
*.o
*.exe
*.out
*.bin.idea/
cmake-build-debug/
generator/cmake-build-debug/
.idea/
cmake-build-debug/
generator/cmake-build-debug/
build-release/
*.bin
build-release/
*.bin
*.txt
build-release/
*.bin
*.txt
